html {
    font-size: 16px;
}

body {
    margin: 1em;
    text-align: center;
    color: #360;
}

section {
    min-width: 900px;
    font-family: Courier
}

article {
    width:50em;
    text-align: center;
    margin: 1em auto;
}

button {
    width:210px;
    height:210px;
    margin:1em;
    padding: 0;
}

.block {
    width: 210px;
    height: 210px;
    background-color: #630;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../media/img/empty.png);
    margin: 1em auto;
    padding:0;
    display: inline-block;
}

/*#monkeys {
    width: 500px;
    margin: 0 auto;
}*/

aside {
    color:black;
    font-family: monospace;
    line-height: 150%;
    text-align: left;
    padding:3em;
}

aside li {
    margin-bottom:2em;
}