@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.jumbotron{
    height: 375px;
    margin-top: 10px;
    background-image: url('img/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    border-radius: none;
}
.navbar {
    font-size: 1.1rem;
    padding: .8rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.navbar-brand img{
    width: 60px;
}


.welcome{
    width 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.fa-code{
    color: #e54d26;
}

.fa-bold{
    color: #563d7c;
}

.fa-css3{
    color: #2163af;
}

.fa-css3, .fa-bold, .fa-code{
    font-size: 4rem;
    margin: 1rem;
}

.em{
    font-size: 2.4rem;
    
}

.main{
    background-color: #f9f9f9;
}

.indent{
    margin: 30px;
}

.text{
    position: absolute;
    top: 20%;
    font-size: 1.3rem;
}

.text h1{
    letter-spacing: 4px;
    line-height: 200%
}



/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








